:root {
	--beau-blue: #d2e3f9ff;
	--baby-blue-eyes: #98b7f0ff;
	--glaucous: #617cc7ff;
	--ksu-purple: #563488ff;
	--razzmatazz: #d53467ff;
}

.cerrarForm {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 140px;
    right: 25vw;
    border-radius: 50%;
    border: none;
    background-color: var(--razzmatazz);
    color: white;
    font-weight: bold;
    z-index: 35;
}

.containerCarrito {
    max-width: 800px;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.datostotales{  
    background-color: var(--glaucous);
    color: white;
    width: 35vw;
    max-width: 400px;
    padding: 4vw;
    margin-right: 10px;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    box-shadow: 10px 0 10px 0 rgb(0,0,0,0.2);
    align-self: flex-end;
}

.datostotales h2{
    font-size: 25px;
}

.datostotales h3 {
    font-size: 20px;
}

.btnComprar{
    padding: 1vmax;
    width: 35vw;
    max-width: 400px;
    background-color: var(--razzmatazz);
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    border: none;
    margin-right: 10px;
    color: white;
    font-size: 25px;
    z-index: 5;
    box-shadow: 10px 10px 10px 0 rgb(0,0,0,0.2);
    align-self: flex-end;
    margin-bottom: 5vw;
}

.btnComprar:hover {
    background-color: var(--ksu-purple);
}

@media (max-width: 900px) {
     .datostotales h2 {
        font-size: 3vw;
    }
    .datostotales h3 {
        font-size: 2.5vw;
    }
    .btnComprar{
        font-size: 3vmax;
    }
}


@media (max-width: 500px) {
    .datostotales {
        width: 60%;
    }
    .btnComprar {
        width: 60%;
    }
     .datostotales h2 {
        font-size: 6vw;
    }
    .datostotales h3 {
        font-size: 5vw;
    }
}
