:root {
	background-color: var(--ksu-purple);
	--max-width: 800px;
	--beau-blue: #d2e3f9ff;
	--baby-blue-eyes: #98b7f0ff;
	--glaucous: #617cc7ff;
	--ksu-purple: #563488ff;
	--razzmatazz: #d53467ff;
}

.Userstitulo{
	color:#563488ff;
}

.userFormAdmin {
	display: block;
	margin-top: 5%;
	max-width: 800px;
	position:relative;
	left: 20%
}

.userTableTitleContainer {
	width: 100%;
	margin-top: 7px;
	margin-bottom: 7px;
	background-color: var(--ksu-purple);
	border-radius: 12px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
	padding: 0.7%
}

.userTableTitle {
	height: auto;
	margin-top: 8px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	color: white;
}

.tableTitle {
	display:flex;
	justify-content: center
}
