/** CSS de Producto **/
:root {
  --max-width: 800px;
  --beau-blue: #d2e3f9ff;
  --baby-blue-eyes: #98b7f0ff;
  --glaucous: #617cc7ff;
  --ksu-purple: #563488ff;
  --razzmatazz: #d53467ff
}

/* ===========   Container  ============ */

.productContainer {
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.productCont2 {
  margin-bottom: 50px;
  width: 100%;
}

/* ===========   Carousel  ============ */

.carItems {
  height: 500px;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 5px 0px rgba(0,0,0,0.33);
  border-radius: 30px 30px 0px 0px;
}

.carousel-item {
  height: 500px;
}

.carousel img {
  margin: 0;
}

.productImg {
  height: 500px;
  object-fit: cover;
}

.carousel-control-next {
  background-color: var(--ksu-purple);
  box-shadow: 0 0px 15px 0px rgba(0,0,0,0.66);
  opacity: 1;
  /*background-color: rgba(116, 69, 186,0.33);*/
}

.carousel-control-prev {
  background-color: var(--ksu-purple);
  box-shadow: 0 0px 15px 0px rgba(0,0,0,0.66);
  opacity: 1;
}


/* ===================  Product Info ==================== */

.infoCard {
/*  background-color: var(--glaucous);*/
  background-image: url('../../multimedia/backgroundPattern.jpg');
  background-size: 200%; /* Resize the background image to cover the entire container */
  color: white;
  padding: 15px;
  border-radius: 0 0 30px 30px;
  box-shadow: inset 0 0 27px 3px rgba(0,0,0,0.45);
}

.infoCardHeader{
  display: grid;
  grid-template-columns: 15fr 5fr;
  background-color: var(--glaucous);
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 12px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 22px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.45);

}

.productTitle {
  color: white;
  font-size: 225%;
  text-shadow: 0 0 5px rgba(0,0,0,0.66)
}

.editProdBtn {
  background: var(--razzmatazz);
  border: none;
  border-radius: 7px;
  color:white;
  font-size: 0.8em;
  vertical-align: top;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.starQualification {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 7px;
  font-size: 1.3em;
  text-shadow: 0 0 5px rgba(0,0,0,0.66)
}

.infoCardDescription {
  font-size: 1.2em;
}

/* ================  Buy Button  =================== */

.bigBuyButton {
  transition: 0.15s;
  background-color: var(--razzmatazz);
  width: 100%;
  border: none;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 22px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.45);
  color: white;
  padding-top: 5px;
}

.bigBuyButton:hover {
  text-shadow: 0 0 7px white;
  box-shadow: 0 0 33px 0 rgba(0,0,0,0.66)
}


/* ===================  Review  ===================== */

.reviewContainer {
  background-color: var(--glaucous);
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 7px;
  padding-top: 15px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 22px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.45);
}
