.userTableCont {
  width: 100%;
}

.userTable {
  width: 100%;
}

.userFormLine {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  height: 35px;
}

.editOpen {
  transition: 0.3s;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 30px;
}

.editClose {
  transition: 0.3s;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  height: 0px;
}

.userActionContainer {
  width: auto;
  display: flex;
  justify-content: center
}

.usrTableCell {
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center
}

.openEditBtn {
  width: 20%;
  margin:1%;
  background: #617CC7;
  border-radius: 4px;
  border: solid #617CC7;
  color:white;
}

.deleteUserBtn {
  width: 20%;
  margin:1%;
  background: #D53467;
  border-radius: 4px;
  border: solid #D53467;
  color:white;
}

.editUserBtn {
  width: 40%;
  margin-left: 27%;
  background: #563488ff;
  border-radius: 4px;
  border: solid #563488ff;
  color:white;
}
