
.carousel {
    margin: auto;
    margin-top: 80px;
	max-width:  800px;
	height: 65vmin;
	overflow: hidden;
	background-color: white;
}

.cardCarrousel {
	width: 70%;
	height: 100%;
	margin: auto;
}

.cardCarrousel img {
	height:100%;
	max-width:100%;
	margin: auto;
	object-fit: cover;
}

@media (max-width: 500px) {
	 .carousel 
	 {
	 	height: 70vh;
	 }
}