.controlPanel {
  margin: 0px;
  margin-top: 60px;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 100%;
}
.centerColumn {
  display: inline-block;
  text-align: left;
  max-width: 800px;
  min-width: 300px;
  width: 100%;
}

.CPButtons {
  margin: 1%;
  width: 50%;
  padding:1%;
  background-image: url("../../multimedia/backgroundPattern.jpg");
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.iconBtn {
  margin-right: 5%
}
