.controlPanel {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.centerColumn {
  position: relative;
  left: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 8%
}

.CPTitle {
  color: #563488ff;
  margin: auto;
  margin-bottom: 2%
}

.CPButtons {
  margin: 1%;
  width: 50%;
  padding:1%;
  background-image: url("../../multimedia/backgroundPattern.jpg");
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

.iconBtn {
  margin-right: 5%;
  margin-right: 2%
}
