@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

:root {
	--max-width: 700px;
	--beau-blue: #d2e3f9ff;
	--baby-blue-eyes: #98b7f0ff;
	--glaucous: #617cc7ff;
	--ksu-purple: #563488ff;
	--razzmatazz: #d53467ff;
}

.catalogo {
	align-items: center;
	text-align: center;
	padding: 0px;
	width: 100%;
	margin-top: 15px;
}

.list {
	max-width: 700px;
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	padding: 0px;
	list-style-type: none;
	margin-top: 50px; /* Esta es la altura de la serchbar que no la detecta por position fixed*/
}

.listItem {
	display: inline-block;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cargarMas {
	padding: 5px 10px 5px 10px;
	width: 50%;
	max-width: 300px;
	margin: auto;
	border: none;
	color: white;
	font-family: 'Tomorrow', sans-serif;
	background-color: var(--glaucous);
	border-radius: 10px;
	box-shadow: 5px 0 5px 0 rgba(30,30,30,0.2)
}

.cargarMas:active {
	box-shadow: none;
	box-shadow: inset -5px -5px 15px 0 rgba(30,30,30,0.5)
}

.visibleMas {
	display: auto;
}

.noVisibleMas {
	display: none;
}