root {
	--beau-blue: #d2e3f9ff;
	--baby-blue-eyes: #98b7f0ff;
	--glaucous: #617cc7ff;
	--ksu-purple: #563488ff;
	--razzmatazz: #d53467ff;
}

.productCard {
	display: flex;
	position: relative;
	height: 400px;
	width: 300px;
	background-color: #617cc7ff;
	border: 1px solid black;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.title {
	display: flex;
	position: absolute;
	top: 5px;
}

.topBar {
	display: flex;
	background-color: #563488ff;
	position: relative;
}

.info {
	text-align: center;
	display: flex;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	background-color: #d53467ff;
	color: white;
	border-bottom-left-radius: 85%;
}

img {
	display: flex;
}

.price {
	display: flex;
}

.buttons {
}
