@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

:root {
	--beau-blue: #d2e3f9ff;
	--baby-blue-eyes: #98b7f0ff;
	--glaucous: #617cc7ff;
	--ksu-purple: #563488ff;
	--razzmatazz: #d53467ff;
}

.cardContainer {
	max-width: 700px;
	min-width: 300px;
	width: 100vw;
	height: 125px;
	overflow: hidden;
	margin: 0px;
	display: grid;
	grid-template-columns: 145px 4fr 1fr;
	align-items: left;
	vertical-align: baseline;
	background-color: var(--glaucous);
	border-radius: 10px;
	box-shadow: 0px 0px 9px 3px rgb(0, 0, 0, 0.3);
	user-select: none;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
}

.imageContainer {
	background-color: var(--glaucous);
	width: 140px;
}

.image {
	object-fit: cover;
	width: 140px;
	height: 140px;
	box-shadow: 0px 0px 15px 2px rgb(0, 0, 0, 0.3);
}

.infoContainer {
	height: 100%;
	padding: 20px;
	display: inline-flex;
	flex-direction: column;
}

.title {
	text-align: left;
	color: white;
	border-bottom: 3px solid rgb(240, 240, 240, 0.3);
	text-transform: uppercase;
	font-size: 80%;
}

.title:hover {
	text-decoration: none !important;
	opacity: 0.7;
	color: white !important;
}

.product-link {
	transition: 0.15s;
}
.product-link:hover {
	color: white !important;
	text-decoration: none !important;
}

.body {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 0;
	text-align: right;
}

.price {
	color: white;
	font-size: 90%;
	display: inline-block;
}

.stock {
	color: white;
	display: inline-block;
	font-size: 80%;
}

.control {
	display: block;
	padding: 10px;
}

.carrito {
	margin: 0px;
	color: white;
	font-size: 90%;
	text-align: center;
	background-color: var(--glaucous);
}

.cant {
	display: inline-block;
	margin-top: 3px;
	width: 30px;
	text-align: center;
	border-radius: 5px;
	border: none;
}

.cant:focus {
	outline: none;
}

.botones {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.butonContainer {
	text-align: center;
	align-items: center;
	align-content: center;
}

.boton {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	box-shadow: 3px 3px 2px 0 rgb(0, 0, 0, 0.2), inset 3px 3px 2px 0 rgb(240, 240, 240, 0.3);
	display: inline-block;
}

.control .boton:active {
	box-shadow: inset 3px 3px 2px 0 rgb(0, 0, 0, 0.2), inset -3px -3px 2px 0 rgb(240, 240, 240, 0.2);
}

.boton.add {
	background-color: lightgreen;
}

.boton.rest {
	margin-left: 5px;
	background-color: var(--razzmatazz);
	color: white;
}

.iconButtom {
	margin-top: -11px;
}

.disabledAdd {
	color: rgba(0, 0, 0, 0.1);
}

.disabledRemove {
	color: rgba(255, 255, 255, 0.1);
}
