:root {
	--beau-blue: #d2e3f9ff;
	--baby-blue-eyes: #98b7f0ff;
	--glaucous: #617cc7ff;
	--ksu-purple: #563488ff;
	--razzmatazz: #d53467ff;
	--success: rgb(45, 177, 5);
	--error: rgb(197, 0, 0);
}

.formContainer {
	padding: 10px;
	color: var(--ksu-purple);
	margin: auto;
	margin-top: -70px;
	margin-bottom: 30px;
	max-width: var(--max-width);
}
.addBtn {
	margin: 0px;
}

.password-wrapper {
	position: relative;
	display: flex;
	margin-bottom: 14px;
	width: 350px;
}

i {
	position: absolute;
	top: 15%;
	right: 3%;
}

i:hover {
	color: var(--razzmatazz);
	cursor: pointer;
}

a {
	color: var(--razzmatazz);
}

.success {
	color: var(--success);
}

.error {
	display: flex;
	color: var(--error);
}
