:root {
	--beau-blue: #d2e3f9ff;
	--baby-blue-eyes: #98b7f0ff;
	--glaucous: #617cc7ff;
	--ksu-purple: #563488ff;
	--razzmatazz: #d53467ff;
	--success: rgb(45, 177, 5);
	--error: rgb(197, 0, 0);
	--google: rgb(105, 105, 105);
	--github: #333333;
	--facebook: #4066b1;
}

.formContainer {
	padding: 10px;
	color: var(--ksu-purple);
	margin: auto;
	margin-bottom: 30px;
	max-width: var(--max-width);
}

.addBtn {
	margin: 0px;
	background: #563488ff;
	border-radius: 4px;
	border: solid #563488ff;
	color: white;
}

#googleBtn {
	background: white;
	border-radius: 4px;
	border: 1px solid var(--google);
	color: var(--google);
	margin: 10px 5px 0 10px;
	justify-content: center;
	align-items: center;
	padding-left: 7%;
	padding-right: 2%;
	width: 66%;
	height: 33px;
}

#githubBtn {
	color: white;
	background: var(--github);
	border-radius: 4px;
	border: 1px solid var(--github);
	margin: 10px 5px 0 10px;
	justify-content: center;
	align-items: center;
	padding-left: 7%;
	padding-right: 3%;
	width: 66%;
	height: 33px;
}

#facebookBtn {
	color: white;
	background: var(--facebook);
	border-radius: 4px;
	border: 1px solid var(--facebook);
	margin: 10px 5px 0 10px;
	justify-content: center;
	align-items: center;
	padding-left: 7%;
	padding-right: 3%;
	width: 66%;
	height: 33px;
}

.button-wrapper {
	position: relative;
	display: flex;
	width: 350px;
}

.password-wrapper {
	position: relative;
	display: flex;
	margin-bottom: 14px;
	width: 350px;
}

.oauth-logo {
	position: absolute;
	top: 30%;
	left: 4.5%;
}

.eye {
	position: absolute;
	top: 15%;
	right: 3%;
}

.eye:hover {
	color: var(--razzmatazz);
	cursor: pointer;
}

a {
	color: var(--razzmatazz);
}

.success {
	color: var(--success);
}

.error {
	display: flex;
	color: var(--error);
}
