
:root {
  --beau-blue: #d2e3f9ff;
  --baby-blue-eyes: #98b7f0ff;
  --glaucous: #617cc7ff;
  --ksu-purple: #563488ff;
  --razzmatazz: #d53467ff
}

.container {
	display: inline-block;
	flex-direction: row;
}

.botonMenu {
	background-color: var(--ksu-purple);
	height: 40px;
	width: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 3px;
	margin-left: -5px;
	margin-top: 4px;
	z-index: 100;
	cursor: pointer;
}

.botonMenu:hover {
	background-color: var( --razzmatazz)
}

.line {
	transition: 0.3s;
	width: 30px;
	height: 2.5px;
	background-color: white;
	margin-left: -0.1px;
	margin-top: -1px;
	visibility: auto;
	border-radius: 3px;
}

.lineHide {
	visibility: none;
}

.cross {
	transition: transform 0.3s;
	margin-top: 15px;
	width: 30px;
	height: 3px;
	background-color: white;
	visibility: auto;
	position: relative;
	border-radius: 3px;
	display: flex;
	transform: rotate(-45deg);
	margin-left: -1px;
}

.cross::after {
	content: "";
	width: 30px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	transform: rotate(90deg);
}

.crossHide {
	visibility: none;
	margin-top: -5px;
}

.menuOpen {
	transition: 0.3s;
	background-color: var(--ksu-purple);
	padding-bottom: 20px;
	width: 200px;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	margin-left: -15px;
	border-radius: 0 3px 3px 0;
	box-shadow: 10px 10px 10px 0 rgb(0,0,0,0.2),
							inset 0 0 1px 0 var(--beau-blue);
}

.menuClose {
	transition: 0.3s;
	overflow: hidden;
	background-color: var(--ksu-purple);
	width: 0;
	display: flex;
	margin-left: -15px;
	justify-content: flex-end;
	padding-bottom: 20px;
	position: absolute;
}

.list {
	margin: 30px 30px 0 20px;
	list-style: none;
	padding: 10px;
}

.categoria {
	color: white;
	padding: 4px 8px 4px 8px;
	border-radius: 3px;
}

.categoria:hover {
	background-color: var( --glaucous);
	padding: 4px;
	border-radius: 3px;
}

.categoria a {
	color: white;
	text-decoration: none;
}