
:root {
  --max-width: 700px;
  --beau-blue: #d2e3f9ff;
  --baby-blue-eyes: #98b7f0ff;
  --glaucous: #617cc7ff;
  --glaucous-transparent: rgba(66, 135, 245, 0.66);
  --ksu-purple: #563488ff;
  --razzmatazz: #d53467ff
}

.container {
	display: inline-block;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
}

.botonMenu {
	background-color: var(--ksu-purple);
	height: 40px;
	width: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 3px;
	z-index: 100;
	cursor: pointer;
}

.botonMenu:hover {
	background-color: var( --razzmatazz)
}

.line {
	transition: 0.3s;
	width: 30px;
	height: 3px;
	background-color: white;
	margin-left: -0.1px;
	margin-top: -1px;
	visibility: auto;
	border-radius: 3px;
}

.lineHide {
	visibility: none;
}

.cross {
	transition: transform 0.3s;
	margin-top: 15px;
	width: 30px;
	height: 3px;
	background-color: white;
	visibility: auto;
	position: relative;
	border-radius: 3px;
	display: flex;
	transform: rotate(-45deg);
	margin-left: -1px;
}

.cross::after {
	content: "";
	width: 30px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	transform: rotate(90deg);
}

.crossHide {
	visibility: none;
	margin-top: -5px;
}

.menuOpen {
	transition: 0.3s;
	background-color: var(--ksu-purple);
	background-image: url("../../../multimedia/backgroundPattern.jpg");
	background-size: 1500px 900px;
	margin-top: 6px; /*esto es para alinearlo con el searchbar*/
	align-items: center;
	border-radius: 0 0px 3px 3px;
	box-shadow: 10px 10px 10px 0 rgb(0,0,0,0.2),
							inset 0 0 1px 0 var(--beau-blue),
							inset 0px 10px 10px 0 rgb(0,0,0,0.2);
	position: absolute;
	overflow: hidden;
	width: 350px
	/*  ↑ arriba tiene que ser igual a open ↑  ↓ abajo tiene las props que cambian al cerrarse ↓ */


}

.menuClose {
	transition: 0.3s;
	background-color: var(--ksu-purple);
	background-image: url("../../../multimedia/backgroundPattern.jpg");
	background-size: 1500px 900px;
	margin-top: 6px;  /*esto es para alinearlo con el searchbar*/
	align-items: center;
	border-radius: 0 0px 3px 3px;
	box-shadow: 10px 10px 10px 0 rgb(0,0,0,0.2),
							inset 0 0 1px 0 var(--beau-blue),
							inset 0px 10px 10px 0 rgb(0,0,0,0.2);
	position: absolute;
	overflow: hidden;

	/*  ↑ arriba tiene que ser igual a open ↑  ↓ abajo tiene las props que cambian al cerrarse ↓ */

	width: 0px;
}

.menuList {
	padding: 0px;
	margin: 0px;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 30px;
	width: 350px;
	list-style: none;
}

.categoria {
	color: white;
	font-weight: 400;
	font-size: 1.2em;
	padding: 4px 8px 4px 8px;
	border-radius: 3px;
	max-width: 300px;

}

.categoria:hover > a {
	transition: 0.2s;
	text-decoration: none;
	text-shadow: 0px 0px 3px white;
}

.categoria > div {
	transition: 0.2s;
	height: 2px;
	width: 0px;
	background: white;
}

.categoria:hover > div {
	transition: 0.2s;
	width: 270px;
}

.categoria a {
	color: white;
	text-decoration: none;
}

