
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --max-width: 700px;
  --beau-blue: #d2e3f9ff;
  --baby-blue-eyes: #98b7f0ff;
  --glaucous: #617cc7ff;
  --ksu-purple: #563488ff;
  --razzmatazz: #d53467ff
}
/**/


/*NavBar -------------  */
.navBarContainer {
  background: var(--ksu-purple);
  width: 100%;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  max-width: var(--max-width);
  margin: auto;
}

/*
.Home {
  color:white;
  font-family: Ropa Sans;
}

.ProductCard {
  color:white;
  font-family: Ropa Sans;
}

.Catalogo {
  color:white;
  font-family: Ropa Sans;
}
*/



.Title {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 20px;
}


.UserBtn {
  background: #617CC7;
  border-radius: 3px;
  border: 4px solid #617CC7;
  color:white;
  margin:0 5px 0 10px;
  justify-content: center;
  align-items: center;
}

.CartBtn {
  background: #D53467;
  border-radius: 4px;
  border: 4px solid #D53467;
  color:white;
  justify-content: center;
  align-items: center;
}




/*Searchabar -------------  */
.SearchBarContainer {
  width: 100%;
  background: #D2E3F9;
  box-shadow: 0 10px 10px 0 rgb(0,0,0,0.2)


}

.CategoryBtn {
  background: #563488;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  margin-right: 4px;
	}

.CatBtn:hover .lineOpen{
	background-color: white;
}

.CatBtn:hover .Cross{
	background-color: white;
}

.SearchBar {
  max-width: var(--max-width);
  margin: auto;
  height: 50px;
  margin-bottom: 200px;
  display: flex;
  overflow: visible;
}

.SearchBtn {
  background: var(--baby-blue-eyes);
  border-radius: 3px;
  height: 40px;
  border: 4px solid  var(--baby-blue-eyes);
  color:white;
  margin:4px 5px 0 10px;
}

.SearchInput {
  width:80%;
  margin: auto;
}
